@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);


@media screen and (min-width: 500px) {
	.container {
		background-color: #ffffff;
		width: 60%;
		margin: 0 auto;
		padding: 30px;
		text-align: center;
	}	
}

@media screen and (max-width: 500px) {
	.container {
		background-color: #ffffff;
		width: 80%;
		margin: 0 auto;
		padding: 30px;
		text-align: center;
	}	
}

@media screen and (max-width: 500px) and (min-width: 250px) {
	.container-header {
		background-color: #fff;
		padding: 0px
	}
}

@media screen and (max-width: 250px) {
	.container-header {
		display: none;
	}
}

@media screen and (min-width: 500px) {
	.container-header {
		background-color: #329664;
		padding: 20px
	}
}

.social img{
	margin: 20px;
	width: 15%;
	max-width: 76px;
	min-width: 46px;
}

.container-header img {
	border-radius: 50%;
}

.container h2 {
	color: #329664;
	text-transform: uppercase;
	font-size: large;
	font-weight: 200;
}

.cv {
	display: inline-block;
	padding: 12px;
}

a:link, a:visited {
	color: #329664;
}

.cv img {
	vertical-align:middle;
	margin-right: 12px;
}

body {
	background-color: #eeeeee;
	font-family: 'Open Sans', sans-serif;
}
