
// default text color
.highlight { color: #f8f8f2; }

/* 
Adapted from https://jwarby.github.io/jekyll-pygments-themes/languages/ruby.html .
This is the Zenburn theme. I had to set things as !important to override minima.
I've used https://www.cssportal.com/css-to-scss/ to convert the CSS to SCSS.
*/
$color_1: #999999;
$color_2: #a61717;
$color_3: #d0d0d0;
$color_4: #6ab825;
$color_5: #cd2828;
$color_6: #e50808;
$color_7: #d22323;
$color_8: #ffffff;
$color_9: #589819;
$color_10: #cccccc;
$color_11: #aaaaaa;
$color_12: #3677a9;
$color_13: #ed9d13;
$color_14: #bbbbbb;
$color_15: #24909d;
$color_16: #447fcf;
$color_17: #40ffff;
$color_18: #ffa500;
$color_19: #666666;
$background-color_1: #404040 !important;
$background-color_2: #e3d2d2 !important;
$background-color_3: #520000 !important;


.highlight {
    code {
        background: $background-color_1;
    }
	pre {
		background-color: $background-color_1;
		border-left-color: $color_1;
  		border-left-width: 5px;
		box-shadow: 3px 3px 5px $color_1;

	}
	.hll {
		background-color: $background-color_1;
	}
	.c {
		color: $color_1;
		font-style: italic;
	}
	.err {
		color: $color_2;
		background-color: $background-color_2;
	}
	.g {
		color: $color_3;
	}
	.k {
		color: $color_4;
		font-weight: bold;
	}
	.l {
		color: $color_3;
	}
	.n {
		color: $color_3;
	}
	.o {
		color: $color_3;
	}
	.x {
		color: $color_3;
	}
	.p {
		color: $color_3;
	}
	.cm {
		color: $color_1;
		font-style: italic;
	}
	.cp {
		color: $color_5;
		font-weight: bold;
	}
	.c1 {
		color: $color_1;
		font-style: italic;
	}
	.cs {
		color: $color_6;
		font-weight: bold;
		background-color: $background-color_3;
	}
	.gd {
		color: $color_7;
	}
	.ge {
		color: $color_3;
		font-style: italic;
	}
	.gr {
		color: $color_7;
	}
	.gh {
		color: $color_8;
		font-weight: bold;
	}
	.gi {
		color: $color_9;
	}
	.go {
		color: $color_10;
	}
	.gp {
		color: $color_11;
	}
	.gs {
		color: $color_3;
		font-weight: bold;
	}
	.gu {
		color: $color_8;
		text-decoration: underline;
	}
	.gt {
		color: $color_7;
	}
	.kc {
		color: $color_4;
		font-weight: bold;
	}
	.kd {
		color: $color_4;
		font-weight: bold;
	}
	.kn {
		color: $color_4;
		font-weight: bold;
	}
	.kp {
		color: $color_4;
	}
	.kr {
		color: $color_4;
		font-weight: bold;
	}
	.kt {
		color: $color_4;
		font-weight: bold;
	}
	.ld {
		color: $color_3;
	}
	.m {
		color: $color_12;
	}
	.s {
		color: $color_13;
	}
	.na {
		color: $color_14;
	}
	.nb {
		color: $color_15;
	}
	.nc {
		color: $color_16;
		text-decoration: underline;
	}
	.no {
		color: $color_17;
	}
	.nd {
		color: $color_18;
	}
	.ni {
		color: $color_3;
	}
	.ne {
		color: $color_14;
	}
	.nf {
		color: $color_16;
	}
	.nl {
		color: $color_3;
	}
	.nn {
		color: $color_16;
		text-decoration: underline;
	}
	.nx {
		color: $color_3;
	}
	.py {
		color: $color_3;
	}
	.nt {
		color: $color_4;
		font-weight: bold;
	}
	.nv {
		color: $color_17;
	}
	.ow {
		color: $color_4;
		font-weight: bold;
	}
	.w {
		color: $color_19;
	}
	.mf {
		color: $color_12;
	}
	.mh {
		color: $color_12;
	}
	.mi {
		color: $color_12;
	}
	.mo {
		color: $color_12;
	}
	.sb {
		color: $color_13;
	}
	.sc {
		color: $color_13;
	}
	.sd {
		color: $color_13;
	}
	.s2 {
		color: $color_13;
	}
	.se {
		color: $color_13;
	}
	.sh {
		color: $color_13;
	}
	.si {
		color: $color_13;
	}
	.sx {
		color: $color_18;
	}
	.sr {
		color: $color_13;
	}
	.s1 {
		color: $color_13;
	}
	.ss {
		color: $color_13;
	}
	.bp {
		color: $color_15;
	}
	.vc {
		color: $color_17;
	}
	.vg {
		color: $color_17;
	}
	.vi {
		color: $color_17;
	}
	.il {
		color: $color_12;
	}
}
