---
---


@import "minima";
@import "admonition";
@import "syntax-highlighting";

div.content {
    width: 100%;
    height: 200px;
    position:relative;
    padding:20px;
    box-sizing:border-box;
    margin-bottom: 100px;
}
div.content:before { 
    content:"";
    position:absolute;
    background: #d8dee9;
    border-radius: 15px;
    transform: skew(-5deg);
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
}
.intro {
    width: 90%;
    font-size: 16pt;
    text-align: left;
    color: #3b4252;
    margin-bottom: 20px;
}
.social {
    margin: 10px;
    justify-content: space-between;
    display: flex;
    width: 50%;
}
.social img {
    width: 64px;
    height: 64px;
}
#menu ul{
    list-style: none;
}
#menu li{
   display: inline;
}
#menu li:not(:last-child):after {
    content: " | ";
}

kbd {
    background-color: #eeeeee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.2),
        0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: bold;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

hr {
    border: none;
    border-top: 1px solid #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr::after {
    background: white;
    content: "☙";
    padding: 0 4px;
    position: relative;
    top: -13px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}